
cal .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Exclude any other sensitive files, such as variable definitions
*.tfvars
*.tfvars.json

# Terraform lock file
.terraform.lock.hcl

